<h1>
  Seven Segment Display Demo
</h1>

<div>
  <div>Basic usage: <code>&lt;seven-seg value="3"&gt;</code><br/><seven-seg value="3"></seven-seg></div>
  <div>Multiple digits: <code>&lt;seven-seg value="3" digits="3"&gt;</code>, should display "_ _ 3"<br/><seven-seg value="3" digits="3"></seven-seg></div>
  <div>No value: <code>&lt;seven-seg digits="3"&gt;</code>, should render "off"<br/><seven-seg digits="3"></seven-seg></div>
  <div>Empy value: <code>&lt;seven-seg digits="3" value=""&gt;</code>, interpreted as zero<br/><seven-seg digits="3" value=""></seven-seg></div>
  <div>Zero value: <code>&lt;seven-seg digits="3" value="0"&gt;</code><br/><seven-seg digits="3" value="0"></seven-seg></div>
  <div>One decimal place: <code>&lt;seven-seg value="3.6" digits="3" decimalPlaces="1"&gt;</code>, should display "_ 3.6"<br/><seven-seg value="3.6" digits="3" decimalPlaces="1"></seven-seg></div>
  <div>Two decimal places with rounding: <code>&lt;seven-seg value="3.658" digits="3" decimalPlaces="2"&gt;</code>, should display "3.66"<br/><seven-seg value="3.658" digits="3" decimalPlaces="2"></seven-seg></div>
  <div>Leading null, internal zero, trailing zero: <code>&lt;seven-seg value="304.6" digits="6" decimalPlaces="2"&gt;</code>, should display "_ 304.60"<br/><seven-seg value="304.6" digits="6" decimalPlaces="2"></seven-seg></div>
</div>
