<h1>
  Seven Segment Display Demo
</h1>

<div>
  <div>Basic usage: <code>&lt;seven-seg value="6"&gt;</code><br/>
    <seven-seg value="6" digits="2" decimalPlaces="1" class="blueDigitDemo"></seven-seg></div>

  <div>No value: <code>&lt;seven-seg digits="2"&gt;</code>, should render "off"<br/>
    <seven-seg digits="2"></seven-seg></div>
  <div>Empy value: <code>&lt;seven-seg digits="3" value=""&gt;</code>, interpreted as zero<br/>
    <seven-seg digits="3" value=""></seven-seg></div>
  <div>Value binding with update: <code>&lt;seven-seg [value]="myValue" digits="3"&gt;</code><br/>
    <seven-seg [(value)]="myValue" digits="3"></seven-seg>
    <button (click)="incrementValue()">Increment</button>
  </div>
  <!-- <div>Two decimal places with rounding: <code>&lt;seven-seg value="7.658" digits="3" decimalPlaces="2"&gt;</code>, should display "7.66"<br/>
    <seven-seg value="7.658" digits="3" decimalPlaces="2"></seven-seg></div>
  <div>Leading null, trailing zero: <code>&lt;seven-seg value="4.6" digits="4" decimalPlaces="2"&gt;</code>, should display "_ 304.60"<br/>
    <seven-seg value="4.6" digits="4" decimalPlaces="2"></seven-seg></div>
</div>

<h2>Style Demonstrations</h2>
<div>
  <div>Height: <code>&lt;seven-seg value="2" styles='{{'{'}} "height": "2em" {{'}'}}'&gt;</code><br/>
    <seven-seg value="2" styles='{ "height":"2em" }'></seven-seg>
  </div>
  <div>Width: <code>&lt;seven-seg value="9" digits="2" styles='{{'{'}} "width": "50px" {{'}'}}&gt;</code><br/>
    <seven-seg value="9" digits="2" styles='{ "width":"50px" }'></seven-seg>
  </div>

  <div>Green digits: <code>&lt;seven-seg value="93" digits="2" styles='{{'{'}} "fillOn": "#0F0", "fillOff":"#030" {{'}'}}&gt;</code><br/>
    <seven-seg value="93" digits="2" styles='{"fillOn": "#0F0", "fillOff":"#030"}'></seven-seg></div> -->

</div>
