/* You can add global styles to this file, and also import other style files */
seven-seg.blueDigitDemo [display] {
  background-color: #AAA;
  fill: blue;
  height: 5em;
  transform: skewX(-7deg);
  padding: 0.2em;
}

seven-seg.blueDigitDemo [segmentOn] {
}

seven-seg.blueDigitDemo [segmentOff] {
    opacity: 0;
}
